{{!#with article}}
<entry>
  {{!--    <title>{{title}}</title>
    <author>
      <name>Wikipedia, the free encyclopedia</name>
    </author>
    <link href="{{ url }}"/>
    <published>{{ publishedAt }}</published>
    <updated>{{ updatedAt }}</updated>
    <id>{{ url }}</id>
    <content xml:lang="en" type="html">{{ body }}</content>
    <category term="news"/>
--}}
</entry>
{{!/with}}
